{% extends 'app.html' %}

{% block title %}- Formulario{% endblock title %}

{% block content %}

    <div style="padding: 3rem 2vw 1rem;">

        <form action="" method="POST">
            {% csrf_token %}
            <!-- inside form -->
            <div style="padding: 1rem 2vw 0px;">
                <hr>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Nome</label>
                            <div class="control is-clearfix">
                                <input name="nome" id="nome" class="input"
                                for="{{ form.nome.value|default_if_none:"" }}" type="text" maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>
                <select for="{{ pedido_form.semestreid.value|default_if_none:"" }}" name="semestreid" id="semestreid" class="button is-outlined">
                    {% for semestre in semestres %}
                        <option value="{{ semestre.id }}">{{semestre.inicio_data}} {{semestre.fim_data}}</option>
                    {% endfor %}
                </select>
                <hr>
                <!-- inside form -->

            <!-- buttons -->
            <div style="margin-top:2%;text-align:center;position:center;">
                <button type="button" value="Voltar" class="button is-outlined" style="margin-right:5%"
                        onclick="voltar()">Voltar
                </button>
                <button type="submit" class="button is-success is-outlined" name="Submit">
                    <span>Confirmar</span>
                </button>
            </div>
            <!-- buttons -->
        </div>
    </form>

    </div>

{% endblock content %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function voltar() {
            location.href = "/pedidos"
        }
    </script>


{% endblock scripts %}
